<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <title>ConfirmSuccess</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="d-flex justify-content-center">
        <div style="max-width: 40rem;min-width: 5rem;background-color: rgb(255, 255, 255); border-width: 3px;">
            <div>
                <h2 style="text-align: center;font-family: Arial, Helvetica, sans-serif;">You have successfully verified
                    your email, please click the button below
                    to login</h2>
                <div style="text-align: center;padding-bottom: 20px;">
                    <button type="button"
                        style="color: rgb(255, 255, 255);font-size: 20px;background-color: rgb(255, 187, 0);
                       border-color: rgb(255, 238, 0); max-width: 230px;min-width: auto;;height: 45px;  border-radius: 5px; margin-top: 20px;"><a
                            style="color: rgb(255, 255, 255);text-decoration: none" th:href="@{${linkLogin}}">Click
                            here to login =))))</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>