<!DOCTYPE html>
<html>

<head>
    <title>MailConfirm</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div>
        <div
            style="margin-left: 5%; max-width: 50rem;background-color: rgb(255, 255, 255); border-width: 3px;
        border-color: rgb(240, 233, 196);border-style: solid;border-top-left-radius: 10px;border-top-right-radius: 10px;">
            <div style="text-align: center;border-top-left-radius: 8px;border-top-right-radius: 8px;width:100%;
                background-color: rgb(0, 97, 136);padding-top: 1px;padding-bottom: 1px;">
                <h2 style="color: rgb(255, 255, 255);font-family: Arial, Helvetica, sans-serif;">Confirm Email</h2>
            </div>
            <div>
                <p style="text-align: center;">You have just register account in QuizzTuyetPro web. Please confirm your
                    email by clicking "Confirm" below</p>
                <div style="text-align: center;padding-bottom: 20px;">
                    <button type="button"
                        style="color: rgb(255, 255, 255);font-size: 20px;background-color: rgb(255, 187, 0);
                   border-color: rgb(255, 238, 0);  width: 200px;height: 45px;  border-radius: 5px; margin-top: 20px;"
                   ><a style="color: rgb(255, 255, 255);text-decoration: none" th:href="@{${linkConfirm}}">Click here</a> 
                        =))))</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>